interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.jobstreet.com.ph/jobs?pg=1
  response:
    body:
      string: "<!DOCTYPE html>\n  <html lang=\"en\">\n    <head>\n      <meta charset=\"UTF-8\">\n
        \     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \     \n      <link rel=\"icon\" href=\"/static/shared-web/favicon-4e1897dfd0901e8a3bf7e604d3a90636.ico\">\n<link
        rel=\"apple-touch-icon\" href=\"/static/shared-web/iphone-7c4d7dcb05fece466d8901945e36bbaa.png\">\n<link
        rel=\"apple-touch-icon\" sizes=\"76x76\" href=\"/static/shared-web/ipad-96988dd1c0902fd20b34ce260d03729b.png\">\n<link
        rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"/static/shared-web/iphoneRetina-c772d091f011ef7ce26f631360de4907.png\">\n<link
        rel=\"apple-touch-ico[...]
